@charset "utf-8";

.Login {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fafafa;
  height: 100vh;

  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 450px;
    height: 500px;
    background-color: white;
    border: 1px solid lightgray;

    .logo {
      margin-bottom: 20px;
      padding: 30px;
      .logoText {
        font-size: 50px;
        font-family: 'Lobster', cursive;
      }
    }

    .idPw {
      display: flex;
      flex-direction: column;
      width: 350px;
      .id {
        height: 45px;
        margin-top: 10px;
        padding-left: 10px;
        background-color: #fafafa;
        border: 1px solid lightgray;
        border-radius: 2px;
        font-size: 15px;
      }

      .pw {
        height: 45px;
        padding-left: 10px;
        margin-top: 10px;
        background-color: #fafafa;
        border: 1px solid lightgray;
        border-radius: 2px;
        font-size: 15px;
      }
    }

    .loginBtn {
      width: 350px;
      height: 40px;
      margin-top: 25px;
      // background-color: #c4e0fb;
      background-color: #1f83d8;

      color: white;
      border: none;
      border-radius: 10px;

      &:disabled {
        background-color: #c4e0fb;
      }
    }
    // &: #c4e0fb;
  }

  .lostPw {
    margin-top: 100px;
    margin-bottom: 0;
    font-size: 15px;
  }
}
