@charset "utf-8";

@import '../../../styles/common.scss';

#loginPage {
  height: 100vh;
  display: grid;
  place-items: center;
  background-color: rgb(246, 252, 230);

  .loginContainer {
    display: grid;
    place-items: center;
    padding: 40px 40px;
    background-color: white;
    border: 1px solid yellow;

    h1 {
      font-family: 'Lobster', cursive;
    }

    .forgetPwd {
      margin-top: 30px;
      font-size: 10px;
      text-decoration: 0;
    }
  }
}
