.commentList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;

  .createCommentRight {
    display: flex;
    align-items: center;

    button {
      background-color: #ffffff;
      border: none;
      cursor: pointer;
      width: 40px;
      height: 30px;
      font-size: 20px;
      margin-right: 10px;

      svg {
        width: 20px;
        height: 15px;
        margin-top: 10px;
      }
    }
  }
}
