@charset "utf-8";

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #e9e9e9;
  background: #fff;
  .header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    padding: 20px 0;
  }
  .header-logo {
    .logo-font {
      font-family: 'Lobster', cursive;
      font-size: 17px;
      &:before {
        content: '';
        display: inline-block;
        width: 1px;
        height: 20px;
        background: #000;
        vertical-align: middle;
        margin: 0 10px;
      }
    }
    img {
      width: 30px;
      height: 30px;
    }
  }
  .header-search {
    position: relative;
    input {
      width: 200px;
      height: 25px;
      border: 1px solid #aaaaaa;
      border-radius: 5px;
      padding: 3px 5px;
      /* text-align: center; */
      background: #f1f1f1;
      transition: background 0.2s;
      + .search-icon {
        display: block;
      }
      &:focus + .search-icon {
        display: none;
      }
    }
    .search-icon {
      position: absolute;
      top: 0;
      left: 50%;
      line-height: 25px;
      transform: translate(-50%);
      &:before {
        content: '';
        display: inline-block;
        width: 25px;
        height: 25px;
        background: url(/assets/images/search.png) no-repeat center center;
        vertical-align: top;
        background-size: 15px;
      }
    }
  }
  .search-list-wrap {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    width: 230px;
    border: 1px solid #e9e9e9;
    background: #fff;
    .search-list {
      display: flex;
      padding: 10px;
      background: #fff;
      transition: background 0.2s;
      &:hover {
        background: #f5f5f5;
      }
      img {
        width: 40px;
        height: 40px;
        border-radius: 100%;
      }
      dl {
        margin-left: 10px;
      }
      dt {
        font-weight: bold;
      }
      dd {
        color: #8e8e8e;
      }
    }
  }
  .header-util {
    position: relative;
    display: flex;
    z-index: 50;
    button {
      font-size: 0;
      width: 25px;
      height: 25px;
      margin-left: 20px;
      &:first-child {
        margin-left: 0;
      }
    }
    .btn-more-feed {
      background: url(https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/bearu/explore.png)
        no-repeat center center;
      background-size: 25px;
    }
    .btn-alram {
      position: relative;
      background: url(https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/bearu/heart.png)
        no-repeat center center;
      background-size: 25px;
    }
    .btn-alram.on:after {
      position: absolute;
      bottom: -10px;
      left: 50%;
      transform: translateX(-50%);
      content: '';
      display: inline-block;
      width: 3px;
      height: 3px;
      background: #ff0000;
      border-radius: 100%;
    }
    .btn-mypage {
      background: url(https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/bearu/profile.png)
        no-repeat center center;
      background-size: 25px;
    }
    .btn-profile {
      background: url(/assets/images/user.png) no-repeat center center;
      background-size: 25px;
    }
  }
  .overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: transparent;
  }
  .overlay.active {
    display: block;
  }
}
